body {
    background-color: #ff7b56;
}

h1 {
    font-size: 72px;
}

.quotebox{
    top: 20vh;
    border-radius: 10px;
}

.Montserrat {
    font-family: 'Montserrat', 'sans-serif';
    color: #e02323;
}

.white-background{
    background-color: white;
}

.row {
    display: flex;
    align-items: center;
}

#flashCard, #subtext, #quiz-time{
    opacity: 0;
}

.btn {
    bottom: 5%;
    right: 5%;
    position: absolute;
}